body
{
  background-color:#EAF6F6;
  border-style:none;
}
hr
{
  border-style:none none;
  border-top-style:dotted;
  width:5%;
  border-width:5px;
  border-color:grey;
}
h1
{
  color:#66BFBF;
}
h3
{
  color:#0c7b93;
}
